* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: black;
  font-family: Signika, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


.logo {
  float: left;
  padding: 10px auto;
  width: 150px;
  height: 150px;
}

nav {
  float: left;
  overflow: hidden;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 120px;
  padding-top: 70px;
  font-size: 1.35rem;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: #2e3890;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: white;

  position: absolute;
  top: 0;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

main {
  background-image: url("../images/TechyDark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  color: white;
  font-family: monospace, Courier, sand-serif;
  width: 100%;
  text-align: center;
}

.center-piece-container {
}

#center-piece {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-flow: column nowrap;
  align-content: center;
  top: 200px;
  margin: 0 auto;
}

#main-logo {
  margin: 0 auto;
  text-align: center;
  height: 50%;
  width: 50%;
}

.caption {
  margin: 0 auto;
  font-size: 1.0rem;
}

p {
  position: relative;
  display: inline;
  top: 300px;
  width: 70%;
}

#introduction
{
  position: relative;
}
